<!DOCTYPE html>
<html>
<head>
    <title>Expense system</title>
    <link rel="stylesheet" href="/static/css/user.css" >
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
 
<ul class="navbar">

  <li><a  onClick="incomePage()">Add Income</a></li>
  <li><a  onClick="expensesPage()">Add Expense</a></li>
  <li><a onClick="balancePage()">Balance and info</a></li>
  <li><a onClick="expenseHistoryPage()">Expense History</a></li>
  <li><a onClick="incomeHistoryPage()">Income History</a></li>
  <li><a onClick="donatePage()">Donate Group</a></li>
  <li> <a href="/api/logout">Logout</a></li>

</div>
</ul>
<div class="content">    
  <h2>{{.messg}}</h2>
    <form id="incomes" method="post" action="/api/user/incomes">    
        <label><b>Description     
        </b>    
        </label>    
        <input type="text" name="description" id="Uname" placeholder="description">    
        <br><br>    
        <label><b>Value     
        </b>    
        </label>    
        <input type="number" name="value" id="Pass" placeholder="value">    
        <br><br>
        <label><b>Category     
        </b>    
        </label>    
        <label for="category">Category</label>
        <select id="category" name="category">
          <option value="Salary">Salary</option>
          <option value="Gift">Gift</option>
          <option value="Found">Found</option>
          <option value="Sell">Sell</option>
        </select>  
        <br><br>
        <label><b>Add Income     
        </b>         
        <input type="submit" name="log" id="log" value="Add income">       
        <br><br>     
    </form>

</body>
</html>
<script>
	function incomePage() {
	  window.location.href="http://localhost:8090/api/income";
	}
	function expensesPage() {
	  window.location.href="http://localhost:8090/api/expense";
	}
  function balancePage() {
	  window.location.href="http://localhost:8090/api/balance";
  }
  function expenseHistoryPage() {
	  window.location.href="http://localhost:8090/api/user/expenses";
  }
  function incomeHistoryPage() {
	  window.location.href="http://localhost:8090/api/user/incomes";
  }
  function donatePage() {
	  window.location.href="http://localhost:8090/api/group/donate";
	}
</script>