<!DOCTYPE html>    
<html>    
<head>    
    <title>Signup form</title>    
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css">    
</head>    
<body>    
    <h2>Create new account</h2><br>    
    <div class="register">  
    <h2>{{.messg}}</h2>  
    <form id="register" method="post" action="/api/register">    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="username" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="password" id="Pass" placeholder="Password">    
        <br><br>
        <label><b>Email     
        </b>    
        </label>    
        <input type="Email" name="email" id="email" placeholder="Email">    
        <br><br>     
        <input type="submit" name="log" id="log" value="Login">       
        <br><br>     
    </form>     
</div>    
</body>    
</html>   