<!DOCTYPE html>
<html>
<head>
    <title>Expense system</title>
    <link rel="stylesheet" href="/static/css/user.css" >
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
 
<ul class="navbar">

  <li><a  onClick="groupPage()">Create Group</a></li>
  <li><a  onClick="userPage()">Create User</a></li>
  <li><a onClick="deletePage()">Delete User</a></li>
  <li> <a href="/api/logout">Logout</a></li>

</ul>
<div class="content">    
    <h2>{{.messg}}</h2>
    <form id="incomes" method="post" action="/api/group">    
        <label><b>Group name     
        </b>    
        </label>    
        <input type="text" name="group" id="Uname" placeholder="group">    
        <br><br>    
        <label><b>Target Money     
        </b>    
        </label>    
        <input type="number"  min="0" name="money" id="Pass" placeholder="money">    
        <br><br>
        <label><b>Create Group     
        </b>         
        <input type="submit" name="log" id="log" value="Create Group">       
        <br><br>     
    </form>
</div>

</body>
</html>
<script>
	function groupPage() {
	  window.location.href="http://localhost:8090/api/group/create";
	}
	function userPage() {
	  window.location.href="http://localhost:8090/api/user";
	}
    function deletePage() {
	  window.location.href="http://localhost:8090/api/user/delete";
	}
</script>