<!DOCTYPE html>
<html>
<head>
    <title>Expense system</title>
    <link rel="stylesheet" href="/static/css/user.css" >
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
 
<ul class="navbar">

  <li><a  onClick="groupPage()">Create Group</a></li>
  <li><a  onClick="userPage()">Create User</a></li>
  <li><a onClick="deletePage()">Delete User</a></li>
  <li> <a href="/api/logout">Logout</a></li>

</ul>
<div class="content">
  <h2>{{.messg}}</h2>    
    <form id="crateuseer" method="post" action="/api/user/delete">    
        <label><b>User name     
        </b>    
        </label>  
        <select id="name" name="name">
            {{range .users}}
                <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select> 
        <br><br>  
        <input type="submit" name="log" id="log" value="Delete">       
        <br><br>     
    </form>
</div>

</body>
</html>
<script>
	function groupPage() {
	  window.location.href="http://localhost:8090/api/group/create";
	}
	function userPage() {
	  window.location.href="http://localhost:8090/api/user";
	}
    function deletePage() {
	  window.location.href="http://localhost:8090/api/user/delete";
	}
</script>